In [5]:
string = "temen2"
print(string)
print(type(string))

integer = 150
print(integer)
print(type(integer))

angka_desimal = 101.1
print(angka_desimal)
print(type(angka_desimal))

boolean = False
print(boolean)
print(type(boolean))

temen2
<class 'str'>
150
<class 'int'>
101.1
<class 'float'>
False
<class 'bool'>

In [2]:
# float to int
x = 1.9999999
print(x)
print(type(x))

y = int(x)
print(y)
print(type(y))


# int to float
a = 100
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))


# str to float
x = "4.5"
print(x)
print(type(x))

y = float(x)
print(y)
print(type(y))

# float to str
a = 9.9
print(a)
print(type(a))

b = str(a)
print(b)
print(type(b))

1.9999999
<class 'float'>
1
<class 'int'>
100
<class 'int'>
100.0
<class 'float'>
4.5
<class 'str'>
4.5
<class 'float'>
9.9
<class 'float'>
9.9
<class 'str'>

In [11]:
print(round(10)) 
print(round(3.1413, 3)) 
print(round(1.5))

10
3.141
2

In [1]:
string = ""

x = int(input("Masukkan angka :"))
bar = x
# Looping Baris
while bar >= 0:
	# Looping Kolom Spasi Kosong
	kol = bar
	while kol > 0:
		string = string + "   "
		kol = kol - 1
	# Looping Kolom Bintang Sisi Kiri	
	kiri = 1
	while kiri < (x - (bar-1)):
		string = string + " * "
		kiri = kiri + 1		
	# Looping Kolom Bintang Sisi Kanan
	kanan = 1
	while kanan < kiri -1:
		string = string + " * "
		kanan = kanan + 1	

	string = string + "\n\n"
	bar = bar - 1
	
print (string)

Masukkan angka :4


          *

       *  *  *

    *  *  *  *  *

 *  *  *  *  *  *  *