In [ ]:
#type data

In [1]:
string = "temen2"
print(string)
print(type(string))

integer = 150
print(integer)
print(type(integer))

angka_desimal = 101.1
print(angka_desimal)
print(type(angka_desimal))

boolean = False
print(boolean)
print(type(boolean))

temen2
<class 'str'>
150
<class 'int'>
101.1
<class 'float'>
False
<class 'bool'>

In [ ]:
#konversi type data

In [2]:
# float to int
x = 1.9999999
print(x)
print(type(x))

y = int(x)
print(y)
print(type(y))


# int to float
a = 100
print(a)
print(type(a))

b = float(a)
print(b)
print(type(b))


# str to float
x = "4.5"
print(x)
print(type(x))

y = float(x)
print(y)
print(type(y))

# float to str
a = 9.9
print(a)
print(type(a))

b = str(a)
print(b)
print(type(b))

1.9999999
<class 'float'>
1
<class 'int'>
100
<class 'int'>
100.0
<class 'float'>
4.5
<class 'str'>
4.5
<class 'float'>
9.9
<class 'float'>
9.9
<class 'str'>

In [ ]:
#pembulatan

In [3]:
print(round(10)) 
print(round(3.1413, 3)) 
print(round(1.5))

10
3.141
2

In [ ]:
#If-Else Conditon

In [5]:
a = 10
b = 11

if a > b:
    print("a lebih besar dari b")
elif a == b:
    print("a sama dengan b")
else:
    print("a lebih kecil dari b")

print(True and True)
print(True and False)
print(True or False)
print(not True)
print(not False)

a lebih kecil dari b
True
False
True
False
True

In [ ]:
#For Loop

In [16]:
nama_buah = ["apel", "jeruk", "mangga", "lemon", "salak"]


print(nama_buah[0])
print(nama_buah[1])
print(nama_buah[2])
print(nama_buah[3])
print(nama_buah[4])
print(len(nama_buah))
print(nama_buah)

for buah in nama_buah:
    print(buah)

# print("done")

apel
jeruk
mangga
lemon
salak
5
['apel', 'jeruk', 'mangga', 'lemon', 'salak']
apel
jeruk
mangga
lemon
salak

In [ ]:
#For While

In [34]:

i = 1
while i <= 6:
    print(i)
    i += 1
    
    
print("")
for x in range(1,9):
    print(x)

print("done")

1
2
3
4
5
6

1
2
3
4
5
6
7
8
done

In [ ]:
#Break pass

In [1]:
 for i in range(5):
     if i == 3:
         break
     print(i)

0
1
2

In [ ]:
nama = input("Masukkan nama:" )
print(type(nama))
print("Your name is " + nama)

In [18]:
nama= "avcdfedfghjkl"
print(nama[8])

g

In [20]:
rows = 5
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print(column, end=' ')
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
text = int(input())
while True:
    if text == "stop" or text == "end":
        print("Program has stopped.")
        break
    print("text: {}".format(text))
    print(type(text))
    x = int(text)
    print(type(x))
    text = input()